{% if user_row %}
<form method="POST" action="{% url 'dashboard:post_settings' %}">
{% csrf_token %}
<p>First name: <input type="text" name="first_name" value="{{ user_row.first_name }}"/></p>
<p>Last name: <input type="text" name="last_name" value="{{ user_row.last_name }}"/></p>
<p>Birthdate: <input type="text" name="dob" value="{{ user_row.dob }}"/></p>
<p>Email: <input type="text" name="email" value="{{ user_row.email }}"/></p>
<p>Doctor Email: <input type="text" name="doctor_email" value="{{ user_row.doctor_email }}"/></p>
<input type="submit"/>
</form>

<form method="post" action="{% url 'dashboard:post_password' %}">
{% csrf_token %}
<p>Old Password: <input type="password" name="old_password"/></p>
<p>New Password: <input type="password" name="new_password"/></p>
<input type="submit"/>
</form>
{% else %}
<p>You need to log in first.</p>
{% endif %}
